/* For putting image on clicking */
/* .xyz {
            margin-left: 100px;
            border: 2px solid rgb(16, 16, 16);
            width: 500px;
            height: 500px;
    } */
    

  /* For rotation of cards */
    /* .abc{
            display: flex;
        }
        .aa{
          margin: 20px;
          border: 2px solid black;
            background-color: rgb(213, 22, 130);
            height: 100px;
            width: 100px;
        } */

    

